@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@theme {
  --font-source: "Source Serif 4", serif; 
    --color-*: initial;
    --color-pure-white: #ffffff;
    --color-slate-blue: #001e2b;
    --color-forest-green: #00684a;
    --color-spring-green: #00ed64;
    --color-evergreen: #023430;
    --color-lavender: #f9ebff;
    --color-mist: #e3fcf7;
  }